@font-face {
    font-family: "vb-icon";
    src: url("./vb-icon.ttf?65a27d86d28c5fbf9106d1fda5e319d4") format("truetype"),
url("./vb-icon.woff?65a27d86d28c5fbf9106d1fda5e319d4") format("woff"),
url("./vb-icon.woff2?65a27d86d28c5fbf9106d1fda5e319d4") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: vb-icon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-vb_calendar:before {
    content: "\f101";
}
.icon-vb_github:before {
    content: "\f102";
}
.icon-vb_hashtag:before {
    content: "\f103";
}
.icon-vb_heart:before {
    content: "\f104";
}
.icon-vb_linkedin:before {
    content: "\f105";
}
